body{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    color: #222222;
}
.primary-container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}
.leftbox{
    width: 50%;
    margin: 80px 0;
}
.info-title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.info-title{
    color: #222222;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
}
.info.subtitle{
    font-size: 16px;
    color: #888888;
}
.section-decoration{
    width: 40px;
    height: 7px;
    margin-top: 15px;
    border-top: 2px solid #d01818;
    position: relative;
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 90%;
        height: 100%;
        border-bottom: 2px solid #d01818;
    }
    &:before {right: -55%;}
    &:after {left: -55%;}
}
.info-aboutUs-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.info-pretitle{
    font-size: 16px;
    color: #888888;
}
.title-aboutUs{
    color: #222222;
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
}
.text-aboutUs{
    color:#000;
    font-size: 16px;
}
.info-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.btn1{
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #d01818;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
}
.btn2{
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
}
.btn1:hover{
    color: #d01818;
    background-color: #fff;
    border:2px solid #d01818;
}
.btn2:hover{
    color:#000;
    background-color: #fff;
    border: solid 2px #000;
}
.divisor{
    background-color: #888;
    height: 2px;
    width: 80%;
    margin: 40px auto;
}
.rightbox{
    display: flex;
    width: 50%;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.rb-img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.secondary-container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}
.articles-box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.info-articles{
    color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 25px;
    gap: 20px;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    margin-bottom: 100px;
}
.info-articles:hover{
    color: white;
    background-color: #d01818;
    transition: all 0.3s ease;
    h3{
        color:#fff;
    }
}

.tabs-container{
    background-color: #ffeaea;
    margin: 0 auto 5em auto;
    width: 50%;
    max-width: 120em;
    padding: 1em;
}
.tabs-container ul{
    width: 100%;
    /*background-color: lightblue;*/
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.tabs-container .li{
    /* background-color: lightgreen;*/
    padding: 0.6em;
    margin: 0 1em 0 0;
    transition: all .5s ease;
}
.tabs-container .li.activo{
    background-color: lightskyblue;
    color: white;
}
.tabs-subcontainer{
    min-height: 20vh;
    /*background-color: lightsalmon;*/
    position: relative;
}
.tabs-subcontainer .bloque{
    /*background-color: lightseagreen;*/
    margin: 1em;
    padding: 1em;
    position: absolute;
    top:0;
    opacity: 0;
    transition: all .5s ease;
}
.tabs-subcontainer .bloque.activo{
    opacity: 1;
}

.tertiary-container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}
.sell-box{
    width: 50%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    background-image:  url("../img/info/4005.jpg");
}
.buy-box{
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    background-image:  url("../img/info/4006.jpg");
}
.sell-box-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 44, 44, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buy-box-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sell-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px #d01818;
}
.buy-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}
.sell-text{
    color: #fff;
    text-shadow: 1px 1px 1px #d01818;
}
.buy-text{
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}
.btn3{
  color: #000000;
  background-color: #ffffff50;
  border: 2px solid #d01818;
  border-radius: 0px;
  padding: 10px 20px;
  display: inline-block;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d01818;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 20px;
}
.btn3:hover{
  box-shadow: inset 400px 0 0 0 #d01818;
  color: #fff;
}
.rightbox img{
    width:100%;
    height: auto;
}
