body{
    margin: 0;
    padding: 0;
}
#ruben{
    width: 100%;
    height: 25rem;
    background-color: #e7e7e7;
    display: flex;
    padding: 0.5rem;
}
#leftbox{
    width: 50%;
    font-family: "Rubik",sans-serif;
}
#lb-title{
    font-family: "Roboto",sans-serif;
    font-size: 1.5em;
}
#lb-uptitle{
    font-family: "Rubik",sans-serif;
    font-size: 0.8em;
}
#lb-subtitle{
    font-family: "Roboto",sans-serif;
    font-size: 1.3em;
}
.lb-paraf{
    font-family: "Rubik",sans-serif;
    font-size: 0.75em;
}
#buttons{
    display: flex;
    margin-top: 3em;
}
#buttons a{
    display: block;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 1em;
    text-align: center;
    color: #fff;
}
#btn1{
    width: 7.5rem;
    background-color: #ce0000;
    border: 3px solid #fff;
    padding: 5px;
    margin: 3px;
}
#btn2{
    width: 7.5rem;
    background-color: #000000;
    color: #fff;
    border: 3px solid #fff;
    padding: 5px;
    margin: 3px;
}
#rightbox{
    width: 50%;
    display: flex;
}
#img{
    width: 100%;
}

#img img{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', 'sans-serif';
}
#articles{
    display: flex;
    background-color: #e7e7e7;
    padding-bottom: 2em;
}
.art{
    display: flex;
    width: 100%;
    height: fit-content;
}
.art img{
    width: 10%;
    padding: 1rem;
    margin: 1rem;
}
.art-text{
    width: 60%;
    
}
.art-paraf{
    font-family: 'Rubik','sans-serif';
    font-size: 0.7rem;  
}

#ruben2{
    display: flex;
    text-align: center;
    background-color: #e7e7e7;
    height: fit-content;
}
#leftbox2{
    width: 50%;
    height: 14em;    
    background: url('../img/cars/4005.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eda9a95c;
    color: #ff2323;
}
#rightbox2{
    width:50%;
    height: 14em;
    background: url('../img/cars/4006.jpg');
    background-blend-mode: overlay;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9e0a0a5a;
    color: #fff;
}
.p-car{
    font-family: 'Rubik','sans-serif';
    font-size: 0.7rem;
}

.btn3 {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
 .btn3 span {
    display: inline-block;
    transform: skew(21deg);
  }
  
.btn3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .btn3:hover {
    color: #fff;
  }
  
  .btn3:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }